<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>Product Event Publishing</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages-getOrderInfo.css" />
</head>

<body>
<!-- Head -->
<!-- Header Section -->
<!-- Page Top -->
<div id="nav-bottom">
    <!-- Top -->
    <div class="nav-top">
        <div class="top">
            <div class="py-container">
                <div class="shortcut">
                    <ul class="fl">
                        <li class="f-item"></li>
                        <li class="f-item">Please<a href="login.html" target="_blank">login</a>　<span><a href="register.html" target="_blank">Register for free</a></span></li>
                    </ul>
                    <div class="fr typelist">
                        <ul class="types">
                            <li class="f-item"><span>My Orders</span></li>

                            <li class="f-item"><span><a href="cart.html" target="_blank">My Shopping Crt</a></span></li>
                            <li class="f-item"><span>Corporate Procurement</span></li>
                            <li class="f-item"><span><a href="cooperation.html" target="_blank">Cooperation and Recrutiment</a></span></li>
                            <li class="f-item"><span><a href="shoplogin.html" target="_blank">Merchant Portal</a></span></li>
                            <li class="f-item"><span>Site Navigation</span></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!-- Header -->
        <div class="header">
            <div class="py-container">
                <div class="yui3-g Logo">
                    <div class="yui3-u Left logoArea">
                        <img class="logo-nd" src="img/BuyBuy1.png" alt="Logo" style="width: 100px; height: auto;">
                    </div>
                    <div class="yui3-u Rit searchArea">
                        <div class="search">
                            <form action="" class="sui-form form-inline">
                                <!--searchAutoComplete-->
                                <div class="input-append">
                                    <input type="text" id="autocomplete" class="input-error input-xxlarge" />
                                    <button class="sui-btn btn-xlarge btn-danger" type="button">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>



<div class="cart py-container" id="cart">
    <!-- Main Content -->
    <div class="checkout py-container">
        <div class="checkout-tit">
            <h4 class="tit-txt">Add Production Information</h4>
        </div>
        <div class="checkout-steps">
            <div class="hr"></div>
            <!-- Payment and Delivery -->
            <div class="payshipInfo">
                <div class="hr"></div>
                <div class="step-cont">
                    <ul class="send-detail">
                        <li>
                            <div class="sendGoods">
                                <form action="@{/commodities}" method="post">
                                    Product ID：<input type="text" name="commodityId"><br><br>
                                    Product Name:<input type="text" name="commodityName"><br><br>
                                    Product Description:<input type="text" name="commodityDesc"><br><br>
                                    Product Price：<input type="text" name="price"><br><br>
                                    Product Quantity：<input type="text" name="availableStock"><br><br>
                                    Merchant ID：<input type="text" name="creatorUserId"><br><br>
                                    <input type="submit" value="Submit">
                                </form>
                            </div>

                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="hr"></div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Section -->
<!-- Page Footer -->
<div class="clearfix footer">
    <div class="py-container">
        <div class="footlink">
            <div class="Mod-service">
                <ul class="Mod-Service-list">
                    <li class="grid-service-item intro  intro1">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>Authenticity Guarantee</h4>
                            <p>Authenticity Guarantee, invoices provided</p>
                        </div>

                    </li>
                    <li class="grid-service-item  intro intro2">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>Authenticity Guarantee</h4>
                            <p>Authenticity Guarantee, invoices provided</p>
                        </div>

                    </li>
                    <li class="grid-service-item intro  intro3">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>Authenticity Guarantee</h4>
                            <p>Authenticity Guarantee, invoices provided</p>
                        </div>

                    </li>
                    <li class="grid-service-item  intro intro4">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>Authenticity Guarantee</h4>
                            <p>Authenticity Guarantee, invoices provided</p>
                        </div>

                    </li>
                    <li class="grid-service-item intro intro5">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>Authenticity Guarantee</h4>
                            <p>Authenticity Guarantee, invoices provided</p>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="clearfix Mod-list">
                <div class="yui3-g">
                    <div class="yui3-u-1-6">
                        <h4>Shopping Guide</h4>
                        <ul class="unstyled">
                            <li>Shopping Process</li>
                            <li>Membership Introduction</li>
                            <li>Life and Travel/Group Buying</li>
                            <li>FAQs</li>
                            <li>Shopping Guide</li>
                        </ul>

                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Delivery Methods</h4>
                        <ul class="unstyled">
                            <li>Pick Up</li>
                            <li>Express Delivery</li>
                            <li>Delivery Service Inquiry</li>
                            <li>Delivery Fee Standards</li>
                            <li>International Delivery</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Payment Methods</h4>
                        <ul class="unstyled">
                            <li>Cash on Delivery</li>
                            <li>Online Payment</li>
                            <li>Installments</li>
                            <li>Postal Remittance</li>
                            <li>Corporate Transfer</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>After-Sales Service</h4>
                        <ul class="unstyled">
                            <li>After-Sales Policy</li>
                            <li>Price Protection</li>
                            <li>Refund Instructions</li>
                            <li>Repair/Exchange</li>
                            <li>Order Cancellation</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Special Service</h4>
                        <ul class="unstyled">
                            <li>Treasure Island</li>
                            <li>DIY Assembly</li>
                            <li>Extended Warranty</li>
                            <li>Purchase E-Card</li>
                            <li>Purchase Communication</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Footer END -->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>

<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
</body>
</html>