<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>Product List</title>
    <link rel="icon" href="img/qiuzhilogo.png">

    <!-- Include Styles -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <link rel="stylesheet" type="text/css" href="css/all.css" />
    <link rel="stylesheet" type="text/css" href="css/pages-seckill-index.css" />



</head>

<body>
<!-- Header -->
<!-- Page Top -->
<div id="nav-bottom">
    <!-- Top -->
    <div class="nav-top">
        <div class="top">
            <div class="py-container">
                <div class="shortcut">
                    <ul class="fl">
                        <li class="f-item">Welcome to Qiuzhi!</li>
                        <li class="f-item">Please
                            <a href="login.html" target="_blank">Login</a>
                            <span>
									<a href="register.html" target="_blank">Free Registration</a>
								</span>
                        </li>
                    </ul>
                    <div class="fr typelist">
                        <ul class="types">
                            <li class="f-item">
                                <span>我的订单</span>
                            </li>

                            <li class="f-item">
									<span>
										<a href="cart.html" target="_blank">My Shopping Cart</a>
									</span>
                            </li>
                            <li class="f-item">
									<span>
										<a href="home.html" target="_blank">My Qiuzhi</a>
									</span>
                            </li>
                            <li class="f-item">
                                <span>Qiuzhi Membership</span>
                            </li>
                            <li class="f-item">
                                <span>Corporate Procurement</span>
                            </li>
                            <li class="f-item">
                                <span>Follow Qiuzhi</span>
                            </li>
                            <li class="f-item">
                                <span>
                                    <a href="cooperation.html" target="_blank">Partnership</a>
                                </span>
                            </li>
                            <li class="f-item">
                                    <span>
                                        <a href="shoplogin.html" target="_blank">Merchant Console</a>
                                        </span>
                            </li>
                            <li class="f-item">
                                <span>Website Navigation</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!--Header-->
        <div class="header">
            <div class="py-container">
                <div class="yui3-g Logo">
                    <div class="yui3-u Left logoArea">
                        <a class="logo-bd" title="Qiuzhi" href="index.html" target="_blank"></a>
                    </div>
                    <div class="yui3-u Rit searchArea">
                        <div class="search">
                            <form action="" class="sui-form form-inline" th:action="@{/searchAction}" method="get">
                                <!--searchAutoComplete-->
                                <div class="input-append">
                                    <input type="text" id="searchWords"  name="keyWord" class="input-error input-xxlarge" />
                                    <button class="sui-btn btn-xlarge btn-danger" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="py-container index">
    <!--banner-->
    <div class="banner">
        <img src="img/_/banner.png" class="img-responsive" alt="">
    </div>

    <!--Product List-->
    <div class="goods-list" id="app">
        <ul class="seckill" id="seckill">
            <tr th:each="item : ${itemList}">
                <li class="seckill-item" >
                    <div class="pic">
                        <img src="img/_/list.jpg" alt=''>
                    </div>
                    <div class="intro">
                        <span th:text="${item.commodityName}">Product Name</span>
                    </div>
                    <div class='price'>
                        <b class='sec-price' th:text="'￥'+${item.price}"></b>
                    </div>
                    <div class='num'>
                        <div>已售10</div>
                        <div class='progress'>
                            <div class='sui-progress progress-danger'>
                                <span style='width: 70%;' class='bar'></span>
                            </div>
                        </div>
                        <div>Remaining
                            <b class='owned'  th:text="${item.availableStock}" > </b>units
                        </div>
                    </div>
                    <a class='sui-btn btn-block btn-buy' th:href="@{'/commodities/'+${item.commodityId}}" target='_blank'>立即抢购</a>
                </li>
            </tr>
        </ul>
    </div>
    <div class="cd-top">
        <div class="top">
            <img src="img/_/gotop.png" />
            <b>TOP</b>
        </div>
        <div class="code" id="code">
				<span>
					<img src="img/_/code.png" />
				</span>
        </div>
        <div class="erweima">
            <img src="img/_/erweima.jpg" alt="">
            <s></s>
        </div>
    </div>
</div>

<!-- Back to Top -->

<!-- Footer -->
<!-- Page Footer -->
<div class="clearfix footer">
    <div class="py-container">
        <div class="footlink">
            <div class="Mod-service">
                <ul class="Mod-Service-list">
                    <li class="grid-service-item intro  intro1">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>Authenticity Guarantee</h4>
                            <p>Authentic products with invoices provided</p>
                        </div>

                    </li>
                    <li class="grid-service-item  intro intro2">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>Authenticity Guarantee</h4>
                            <p>Authentic products with invoices provided</p>
                        </div>

                    </li>
                    <li class="grid-service-item intro  intro3">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>Authenticity Guarantee</h4>
                            <p>Authentic products with invoices provided</p>
                        </div>

                    </li>
                    <li class="grid-service-item  intro intro4">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>Authenticity Guarantee</h4>
                            <p>Authentic products with invoices provided</p>
                        </div>

                    </li>
                    <li class="grid-service-item intro intro5">

                        <i class="serivce-item fl"></i>
                        <div class="service-text">
                            <h4>Authenticity Guarantee</h4>
                            <p>Authentic products with invoices provided</p>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="clearfix Mod-list">
                <div class="yui3-g">
                    <div class="yui3-u-1-6">
                        <h4>Shopping Guide</h4>
                        <ul class="unstyled">
                            <li>Shopping Process</li>
                            <li>Membership Introduction</li>
                            <li>Life Travel/Group Buy</li>
                            <li>Common Questions</li>
                            <li>Shopping Guide</li>
                        </ul>

                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Delivery Methods</h4>
                        <ul class="unstyled">
                            <li>Self Pickup</li>
                            <li>211 Time-limited Delivery</li>
                            <li>Delivery Service Inquiry</li>
                            <li>Delivery Fee Standards</li>
                            <li>Overseas Delivery</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>After-sales Service</h4>
                        <ul class="unstyled">
                            <li>After-sales Policies</li>
                            <li>Price Protection</li>
                            <li>Refund Instructions</li>
                            <li>Repair/Return & Exchange</li>
                            <li>Order Cancellation</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Payment Methods</h4>
                        <ul class="unstyled">
                            <li>Cash on Delivery</li>
                            <li>Online Payment</li>
                            <li>Installment Payment</li>
                            <li>Postal Remittance</li>
                            <li>Corporate Transfer</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Special Services</h4>
                        <ul class="unstyled">
                            <li>Auction Island</li>
                            <li>DIY Assembly</li>
                            <li>Extended Warranty</li>
                            <li>Pin You Gou E-Card</li>
                            <li>Pin You Gou Communication</li>
                        </ul>
                    </div>
                    <div class="yui3-u-1-6">
                        <h4>Help Center</h4>
                        <img src="img/erwei_jz.png">
                    </div>
                </div>
            </div>
            <div class="Mod-copyright">
                <ul class="helpLink">
                    <li>About Us
                        <span class="space"></span>
                    </li>
                    <li>Contact Us
                        <span class="space"></span>
                    </li>
                    <li>About Us
                        <span class="space"></span>
                    </li>
                    <li>Merchant Admission
                        <span class="space"></span>
                    </li>
                    <li>Marketing Center
                        <span class="space"></span>
                    </li>
                    <li>Friend Links
                        <span class="space"></span>
                    </li>
                    <li>About Us
                        <span class="space"></span>
                    </li>
                    <li>Marketing Center
                        <span class="space"></span>
                    </li>
                    <li>Friend Links
                        <span class="space"></span>
                    </li>
                    <li>About Us</li>
                </ul>
                <p>Qiuzhi</p>
                <p>Business Cooperation: xx.com</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Include Component Libraries -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.5.4/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                goodslist: [{
                    intro: 'Apple iPhone 6s 32G Gold Mobile Unicom Telecom 4G Phone',
                    newprice: '6088',
                    oldprice: '6988',
                    rate: '87%',
                    left: '29'
                },
                {
                    intro: 'Apple iPhone 6s 32G Gold Mobile Unicom Telecom 4G Phone',
                    newprice: '6088',
                    oldprice: '6988',
                    rate: '87%',
                    left: '29'
                },
                {
                    intro: 'Apple iPhone 6s 32G Gold Mobile Unicom Telecom 4G Phone',
                    newprice: '6088',
                    oldprice: '6988',
                    rate: '87%',
                    left: '29'
                },
                {
                    intro: 'Apple iPhone 6s 32G Gold Mobile Unicom Telecom 4G Phone',
                    newprice: '6088',
                    oldprice: '6988',
                    rate: '87%',
                    left: '29'
                },
                {
                    intro: 'Apple iPhone 6s 32G Gold Mobile Unicom Telecom 4G Phone',
                    newprice: '6088',
                    oldprice: '6988',
                    rate: '87%',
                    left: '29'
                },
                {
                    intro: 'Apple iPhone 6s 32G Gold Mobile Unicom Telecom 4G Phone',
                    newprice: '6088',
                    oldprice: '6988',
                    rate: '87%',
                    left: '29'
                },
                {
                    intro: 'Apple iPhone 6s 32G Gold Mobile Unicom Telecom 4G Phone',
                    newprice: '6088',
                    oldprice: '6988',
                    rate: '87%',
                    left: '29'
                }]
            }
        }
    })
</script>



</body>

</html>